*{
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: transparent; 
}

.fullscreen-img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  display: block;
}